
html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  color: #444;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  }

body {
  background-color: rgba(184,184,184,0.7);
  margin: 50px;
}

.logo {
  height: 100%;
  max-width: 100%;
  float: left;
}

.owner__name {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  font-variant: small-caps;
  margin: 0 0;
  text-align: right;
}

.owner__sub {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: bolder;
  margin-bottom: 50px;
  text-align: right;
}

.main {
  background-color: #e2e3eb;
  /* http://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23303346' fill-opacity='0.51'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main__img {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item {
  background-color: rgba(184,184,184,0.8);
  border-radius: 5px;
}

.item__artwork {
  width: 100%;
}

.item__title {
  padding: 5px 5px 5px 5px;
}

.item__desc {
  padding: 5px 5px 5px 5px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
}


@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 10px 500px 100px auto;
    grid-gap: 10px;
    grid-template-areas:
      "header header header"
      "line line line"
      "main main main"
      "item-h1 item-h1 item-h1"
      "items items items"
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
  }

  .owner {
    grid-row: 1;
    grid-column: span 2;
    text-align: right;
  }

  .line {
    grid-area: line;
    border-top: 3px solid #2d3c49;
  }

  .main__img {
    grid-area: main;
  }

  .main {
    grid-area: main;
  }

  .item-h1 {
    grid-area: item-h1;
    align-self: flex-end;
  }

  .item {
    display: grid;
    grid-template-rows: 1fr 50px 50px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-areas:
      "item__artwork"
      "item__title"
      "item__desc"
  }

  .item__artwork {
    grid-area: item__artwork;
  }

  .item__title {
    grid-area: item__title;
    text-align: center;
  }

  .item__desc {
    grid-area: item__desc;
    text-align: center;
  }

  @media screen and (max-width: 1000px) {
    body {
      margin: 20px;
    }
    
    .wrapper {
      grid-template-rows: 120px 10px 1fr 100px auto;
    }
    
    .main__img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 700px) {
    body {
      margin: 3%;
    }

    .wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 10px auto 100px repeat(3, 1fr);
      grid-auto-flow: column;
      grid-template-areas:
        "header"
        "line"
        "main"
        "item-h1"
        "items"
        "items"
        "items"
    }

    .main__img {
      grid-area: main;
      width: auto;
      height: auto;
    }

    .main {
      grid-area: main;
      height: auto;
    }

    .logo {
      display: none;
    }
    .owner__sub {
      display: none;
    }

    .item-h1 {
      grid-area: item-h1;
      margin: 0 0;
    }

    .item:nth-of-type(1) {
      grid-row: 5;
    }

    .item:nth-of-type(2) {
      grid-row: 6;
    }

    .item:nth-of-type(3) {
      grid-row: 7;
    }
  }
}
